@use "../variables";

.button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;

  &--primary {
    color: variables.$mainFontColor;
    background-color: variables.$bgButton;

    &:hover {
      background-color: lighten(variables.$bgButton, 5%);
    }
  }

  @media (max-width: 640px) {
    display: block;
    width: 100%;
  }

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
