@use "variables";
@use "hero";
@use "components/buttons";
@use "components/infos-bar";
@use "event";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

html, body {
  overflow-x: hidden;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 640px) {
    .container {
      max-width: 80%;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 90%;
    }
  }
}
